/*TODO style using less or sass*/

body {
	font: 400 16px/22px Muli, sans-serif;
	color: #515151;
}

/*View selector styles*/
.properties-view-selector-container {
	text-align: right;
	padding-right: 60px;
}

.properties-view-radio {
	margin-top: 6px;
}

/*Property list styles*/
.property-list, .property-row-link {
	color: #A3A2A2;
}

.property-icon {
	border-radius: 50%;
	background-color: #DBDBDB;
	float: left;
	width: 40px;
	height: 40px;
}

.property-row-address1 {
	color: #7B72D6;
}

.property-row-city-state-zip {
	font: 400 13px/20px Muli,sans-serif;
}

/*Property cards page and card styles*/
.property-card {
	width: 265px;
	height: 346px;
}

.property-link, .property-link:hover {
	text-decoration: none !important;
	color: black;
}

.property-img {
	width: auto;
	height: 208px;
}

.property-overlay-container {
	position: relative;
	width: 100%;
}

.property-img-overlay {
  background: rgba(0,0,0,.3);
  color: white;

  padding: 3px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.property-price {
	font: 300 26px/36px Muli,sans-serif;
}

.property-year-built {
	font: 400 13px/20px Muli,sans-serif;
}

.property-address {
	border-top: 1px solid #DBDBDB;
  color: #767676;
  font: 400 14px/22px Muli,sans-serif;
  line-height: 22px;
  line-height: 18px;
  padding-top: 20px;
  margin: 8px -8px 0 -8px;
  text-align: center;
	align-self: flex-end;
}

.property-stats h6 {
	color: #767676;
	font: 400 13px/20px Muli,sans-serif;
	margin-bottom: 0px;
}

.property-stats-item {
	color: #515151;
	font: 300 20px/30px Muli,sans-serif;
}

.property-stats-yield {
	border-left: 1px solid #DBDBDB;
	padding-left: 8px;
}

.property-link .card-body {
	padding: 8px;
}

/*Single Property page*/

.single-property-address {
	border-top: 1px solid #DBDBDB;
	border-bottom: 1px solid #DBDBDB;
	padding: 15px 0 15px 0;
}

.single-property-address1 {
	color: #515151;
	font: 400 18px/26px Muli,sans-serif;
}

.single-property-city-state-zip {
	color: #A3A2A2;
	font: 400 16px/22px Muli,sans-serif;
}

.single-property-carousel {
	margin-left: 20px;
	width: 640px;
}

/*Tweak some Reactstrap styles*/
.container {
	max-width: none;
	padding-bottom: 15px;
}

.carousel-control-next {
	opacity: 1;
}

.carousel-control-previous {
	opacity: 1;
}

.table thead th {
  font-weight: 400;
}
